
%-mid{
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
}

%-semi{
    font-family: "Montserrat-SemiBold", sans-serif;
    font-weight: 600;
}

$purple: #765CF3;
$gray-light: #F6F6F6;
$black: #343234;
$red: #FE3E42;
$gray: #C4C4C4;