.a-quantity {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    background: white;
    border: 1px solid $purple;
    span {
        padding: .5rem;
        cursor: pointer;
    }
    @include mq('desktop') {
        margin-right: .5rem;
        span {
            padding: .375rem;
        }
    }
    @include mq('phone-wide') {
        margin-right: 1rem;
    }
}