.m-filters {
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
    .count {
        opacity: .5;
        margin-left: .5rem;
    }
    &-title {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .count {
            flex: 1;
        }
        &::after {
            content: '+';
            font-weight: 400;
            font-size: 1.5rem;
            display: block;
        }
    }
    &-items {
        padding-bottom: 2rem;
    }
    &-checkbox {
        display: flex;
        flex-direction: column;
        label {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            justify-content: space-between;
            
            .count {
                flex: 1;
                text-align: end;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        input {
            width: auto;
        }
    }
    &-price {
        display: flex;
        align-items: center;
        span {
            margin-left: 1rem;
            margin-right: 1rem;
            display: flex;
            content: '';
            background: black;
            width: 32px;
            height: 1px;
            justify-content: center;
            align-items: center;
        }
        input {
            border-radius: 5px;
            background: $gray-light;
            text-align: center;
        }
    }
}