.m-product-page {
    &__col {
        grid-column: span 4;
        .swiper-pagination {
            position: static;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
        &.col-6 {
            grid-column: span 6;
            &.e--slider {
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .a-pictogram {
                border-bottom: none;
            }
            .a-pictogram-icon {
                background: $gray-light;
            }
            .m-characteristics-item {
                padding-bottom: 1rem;
                display: flex;
                justify-content: space-between
            }
            .m-product-page__trade {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                max-width: 440px;
                a {
                    margin-top: 2rem;
                    width: 40%;
                    &.a-btn {
                        padding: .5rem 3rem;
                    }
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: .5rem;
                    }
                }
                .price {
                    margin-bottom: 0;
                    width: 50%;
                }
                input {
                    padding: .625rem;
                    max-width: 70px;
                    text-align: center;
                }
            }
            .price-other {
                padding-top: 1rem;
            }
        }
        .price {
            @extend%-semi;
            font-size: 1.25rem;         
            margin-bottom: 1rem; 
            &-other {
                margin-bottom: 1.5rem;
                &-item {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        margin-right: 1rem;
                        opacity: .8;
                    }
                    a {
                        transition: .5s;
                        text-decoration: underline;
                        opacity: .6;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            } 
        }
    }
    &__payment {
        padding: 2rem;
        background: $gray-light;
        .top {
            display: flex;
            flex-direction: column;
            h4 {
                @extend%-semi;
                margin-bottom: 1rem;
            }
        }
        .bottom {
            display: flex;
            flex-direction: column;
        }
    }
    &__trade {
        display: flex;
        order: 0;
        margin-bottom: 1.25rem;
        input {
            padding: .625rem;
            max-width: 70px;
            text-align: center;
        }
    }
    &__title {
        grid-column: span 12;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $purple;
        .id {
            color: gray;
        }
        .title-left {
            margin-right: 1rem;
        }
        .title-right {
            text-align: end;
        }
        h1{
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        &.e--other {
            grid-column-start: 7;
            grid-column-end: 13;
            flex-direction: column;
            align-items: flex-start;
            border: none;
            padding-bottom: 0;
            .m-title {
                padding-bottom: 1rem;
                border-bottom: 1px solid $purple;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
            }
            h1{
                font-size: 1.25rem;
            }
        }
    }
    &__img {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        width: 100%;
        background: $gray-light;
        img {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: contain;
        }
    }
    &__nav {
        display: flex;
        background: $gray-light;
        margin-bottom: 3rem;
        overflow-x: auto;
        li {
            margin-right: 4rem;
            height: auto;
            padding: 1rem;
            cursor: pointer;
            transition: .5s;
            border-bottom: 3px solid transparent;
            display: flex;
            &:hover {
                border-bottom: 3px solid #755cf38c;
            }
            &.active {
                border-bottom: 3px solid $purple;
                pointer-events: none;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__desc {
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(90, 92, 102, 0.4);
            h2 {
                font-size: 2.25rem;
                span {
                    margin-left: .5rem;
                }
            }
            .a-btn {
                width: auto;
            }
            .a-rating-result {
                flex: 1;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
    &__item {
        display: none;
        &.active {
            display: block;
        }
    }
    @include mq('desktop-wide') {
        &__trade {
            margin-bottom: 1.125rem;
            input {
                padding: .5rem;
                max-width: 50px;
            }
        }
        &__title {
            h1{
                font-size: 1.75rem;
            }
        }
    }
    
    @include mq('desktop') {
        &__title {
            h1{
                font-size: 1.5rem;
            }
        }
        &__desc {
            &-title {
                h2 {
                    font-size: 2rem;
                }
            }
        }
        &__nav {
            margin-bottom: 2.5rem;
            justify-content: space-between;
            li {
                margin-right: 1rem;
                padding: .75rem;    
                font-size: .875rem;            
            }
        }
        &__payment {
            padding: 1.25rem;
        }
    }
    @include mq('tablet-wide') {
        &__title {
            .title-left {
                margin-right: 1rem;
            }
            h1{
                font-size: 1.25rem;
            }
            &.e--other {
                h1{
                    font-size: 1.125rem;
                }
            }
        }
        &__desc {
            &-title {
                h2 {
                    font-size: 1.75rem;
                }
            }
        }
        &__nav {
            margin-bottom: 2.25rem;
            justify-content: space-between;
            li {
                margin-right: .5rem;
                padding: .5rem;    
                font-size: .75rem;            
            }
        }
        &__payment {
            padding: .75rem;
        }
        &__trade {
            margin-bottom: 1rem;
            input {
                padding: .375rem 0;
                max-width: 28px;
            }
        }
    }
    @include mq('tablet') {
        &__col {
            &.col-6 {
                grid-column: span 12;
                &.e--slider {
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
            }
        }
        &__title {
            h1{
                font-size: 1rem;
            }
            &.e--other {
                grid-column: span 12;
                h1{
                    font-size: 1rem;
                }
            }
        }
        &__img {
            padding-bottom: 78%;
            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                object-fit: contain;
            }
        }
        &__col {
            grid-column: span 6;
            &.e--slider {
                grid-column: span 12;
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
            }
        }
        &__desc {
            &-title {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
    @include mq('tablet-small') {
        &__title {
            flex-direction: column;
            align-items: flex-start;
            border-bottom: none;
            .title-left {
                width: 100%;
                margin-right: 0;
                margin-bottom: .75rem;
                padding-bottom: .75rem;
                border-bottom: 1px solid $purple;
            }
            &.e--other {
                .title-left {
                    width: 80%;
                    margin-right: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
                .a-icons {
                    flex-direction: column;
                    margin-left: 1rem;
                    a {
                        padding: .5rem;
                        margin-bottom: .5rem;
                        margin-right: 0;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &__desc {
            &-title {
                h2 {
                    font-size: 1.25rem;
                }
            }
        }
    }
    @include mq('phablet') {
        &__col {
            grid-column: span 12;
            &.e--slider {
                grid-column: span 12;
            }
        }
        &__nav {
            background: white;
        }
        &__desc {
            &-title {
                h2 {
                    font-size: 1.125rem;
                }
            }
        }
    }
    @include mq('phone-wide') {
        &__payment {
            margin-left: -1rem;
            margin-right: -1rem;
            .bottom {
                margin-left: -1rem;
                margin-right: -1rem;
                .a-pictogram {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .a-payment-other {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .a-delivery {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
        &__col {
            &.col-6 {
                .bottom {
                    margin-left: -1rem;
                    margin-right: -1rem;
                    .price-other {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }
                .m-product-page__trade {
                    padding: 1rem;
                    &.active-sticky {
                        z-index: 58;
                        background: white;
                    }
                    &.active-fixed {
                        z-index: 58;
                        background: white;
                    }
                    max-width: 100%;
                    justify-content: center;
                    a {
                        margin-top: 1.25rem;
                        width: 100%;
                        justify-content: center;
                        &.a-btn {
                            padding: .75rem 3rem;
                        }
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: .5rem;
                        }
                    }
                    .price {
                        margin-bottom: 0;
                        width: 50%;
                    }
                    input {
                        padding: .625rem;
                        max-width: 70px;
                        text-align: center;
                    }
                }
            }
        }
        &__trade {
            order: 1;
            padding: 1rem;
            margin-bottom: 0;
            &.active-fixed {
                position: fixed;
                z-index: 33;
                left: 0;
                bottom: 0;
                right: 0;
                padding-left: .75rem;
                background: $gray-light;
                box-shadow: 0px -5px 8px 0px rgba(34, 60, 80, 0.2);
            }
            &.active-sticky {
                box-shadow: 0px -5px 8px 0px rgba(34, 60, 80, 0.2);
                position: sticky;
                z-index: 32;
                left: 0;
                bottom: 0;
                right: 0;
                //padding: 1rem;
                background: $gray-light;
            }
            input {
                padding: .375rem 0;
                max-width: 28px;
            }
        }
        &__desc {
            &-title {
                flex-wrap: wrap;
                
                .a-btn {
                    margin-top: 1rem;
                    width: 80%;
                }
            }
        }
    }
}