.m-reviews {
    &-card {
        padding: 1.75rem;
        transition: .5s;
        max-width: 440px;
        width: 100%;
        &:hover {
            background: $gray-light;
        }
        &__img {
            margin-bottom: 1rem;
            width: 110px;
            height: 85px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &-item {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray;
        &__left {
            width: 40%;
        }
        &__right {
            flex: 1;
        }
    }
    @include mq('desktop') {
        &-card {
            padding: 1.375rem;
            &__img {
                margin-bottom: .875rem;
                width: 100px;
                height: 80px;
            }
        }
        
    }
    @include mq('tablet-wide') {
        &-card {
            padding: 1rem;
            &__img {
                width: 90px;
                height: 75px;
                margin-bottom: .75rem;
            }
        }
        
    }
    @include mq('tablet') {
        &-card {
            padding: .875rem;
            &__img {
                width: 85px;
                height: 62px;
                margin-bottom: .75rem;
            }
        }
    }
    @include mq('tablet-small') {
        &-item {
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-bottom: none;
            &__left {
                width: 40%;
            }
            &__right {
                flex: 1;
            }
        }
    }
    @include mq('phablet') {
        &-card {
            padding: .75rem;
            &__img {
                width: 79px;
                height: 59px;
                margin-bottom: .75rem;
            }
        }
    }
}